<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% include ../imports.ejs %>

        <title>Transfer</title>

        <script src="../javascripts/transfer.js" async></script>

        <style>
            body {
                background: linear-gradient(to right, #acb6e5, #86fde8);
            }

            .font-good {
                color: #869af2;
            }

            #outer{
                margin-top: 6.5em;
            }
        </style>
</head>

<body>
    <% if (locals.acc_no) {%>
        <%- include('../nav', { acc_no }); %>
    <% } else { %>
        <%- include('../nav') %> 
    <% } %>


        <div id="outer" class="d-flex align-items-center justify-content-center">
            <div class="d-flex justify-content-center flex-column align-items-center bg-white 
                rounded shadow-lg p-5 gap-5">
                
                <div class="display-4 fw-bold text-secondary">
                    Transfer Funds
                </div>

                <div class="d-flex align-items-center justify-content-center mt-2 p-3">
                    <form id="transfer-form">
                        <div id="form-message-info" class="p-2">
                        </div>
                                               
                        <!-- Account Number input -->
                        <div class="form-outline mb-4">
                            <label class="form-label" for="acc-no">Account Number</label>
                            <input type="text" id="acc-no" class="form-control form-control-lg"
                                placeholder="Enter Account Number" />
                        </div>
                        
                        <!-- Amount input -->
                        <div class="form-outline mb-4">
                            <label class="form-label" for="amount">Amount</label>
                            <input type="text" id="amount" class="form-control form-control-lg"
                                placeholder="Enter Amount" />
                        </div>
        
                        <div class="text-center text-lg-start mt-4 p-2">
                            <button type="submit" id="transfer-btn" class="btn btn-outline-primary btn-lg"
                                style="padding-left: 2.5rem; padding-right: 2.5rem;">Transfer</button>
                        </div>
    
                    </form>
                </div>
            </div>
        </div>
</body>

</html>